* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
    background-color: #111;
    color: white;
    font-size: 16px;
}

h1 {
    position: absolute;
    top: 25%;
    font-weight: bold;
    font-size: 32px;
    background-color: #bff747;
    color: rgb(0, 0, 0);
}



.titulo {
    display: flex;
    justify-content: center;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: center;
    position: relative;
    z-index: 1;
    margin-top: 25px;
    width: 405px;
    height: 59px;
    background-color: #bff747;
}

.logo {
    width: 93px;
    margin-top: 25px;
}

.perfil {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}




.btn-editar {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 130px;
    height: 35px;
    text-decoration: none;
    background-color: #bff747;
    border-radius: 5px;
    color: #000000;
    font-weight: bold;
    border: none;
    margin-top: 16px;
    margin-right:36px;
    cursor: pointer;
    text-align: center;
}

.btn-editar {
    margin-right: 14px;
}

.datos-cliente {
    display: flex;
    justify-content:space-between;
    align-items:flex-start;
    width: 700px;
    height: 320px;
    border: 1px solid #49454f;
    border-radius: 5px;
}

.datosP{
    margin:26px;
}



.a-hover {
    background-color: #00000000;
    width: 130px;
    height: 40px;
    margin: 26px;
}


.hover-btn-editar,
.hover-btn-tarjetas {
    display: none;
    position: absolute;
    top: 90%; /* Posición debajo del elemento */
    left: 140%;
    transform: translateX(-50%);
    background-color: #e0e9dc;
    color: #000000;
    padding: 5px;
    border-radius: 4px;
    font-size: 12px;
    white-space: nowrap;
    text-align: center;
    z-index: 1;
}


.a-hover:hover .hover-btn-editar,
.a-hover:hover .hover-btn-tarjetas {
    display: block;
}
